@use "../../utilities.scss";

.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 24px auto 12px auto;
}

.btn_previous {
  background: utilities.$black;
  border-radius: 100%;
  position: relative;
  width: 40px;
  height: 38px;
  margin-right: 15px;
  cursor: pointer;
}

.btn_previous ion-icon {
  color: utilities.$off-white;
  font-size: 28px;
  position: absolute;
  transform: translate(1px, 3px);
}

.btn_next {
  background: utilities.$black;
  border-radius: 8px;
  position: relative;
  width: 70%;
  padding: 23px;
  margin: auto;
  cursor: pointer;
}

.btn_next ion-icon {
  font-size: 28px;
  position: absolute;
  transform: translate(4px, 15px);
}

.btn_next span {
  color: utilities.$off-white;
  font-size: 16px;
  font-weight: 700;
}

.btn_next_arrow {
  position: absolute;
  background: #414141;
  border-radius: 0 6px 6px 0;
  height: 100%;
  width: 38px;
  bottom: 0;
  right: 0;
}
